electron_mirror=https://npmmirror.com/mirrors/electron/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
registry=https://registry.npmmirror.com/
electron-builder-binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
auto-install-peers=true
shamefully-hoist=true
strict-peer-dependencies=false 